{% extends "base.html" %}

{% block content  %}
<div class="login_bg">
  <div class="container-fluid">
      <a href="index.html"><h1 class="col text-center">My Blog</h1></a>
      <form method="post">
          <div class="form-group justify-content-center">
              <div>
                  <label for="inputUsername" class="col-lg-2 col-form-label"><h3>Username: </h3></label>
                  <div class="col-lg-4">
                      <input type="text" name="username" class="form-control" id="inputUsername" placeholder="enter your nickname">
                  </div>
              </div>
              <div>
                  <label for="inputPassword" class="col-lg-2 col-form-label"><h3>Password:</h3></label>
                  <div class="col-lg-4">
                      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="enter your password">
                  </div>
              </div>
              <div>
                  <button type="submit" class="btn btn-primary justify-content-center" >Sign In!</button>
              </div>
          </div>

      </form>
  </div>
</div>
{% endblock %}