{% extends "base.html" %}

{% block content  %}
<div class="login_bg">
    <div class="container-fluid">
        <a href="index.html"><h1 class="col text-center">My Blog</h1></a>
        <form method="post">
            <div class="form-group justify-content-center">
                <div>
                        <p><b>New post:</b></p>
                        <p><textarea name="post_text" class="col-8"></textarea></p>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary justify-content-center" >Post It!</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}